<div ng-controller="RodoviasCtrl">
  <div id="rodovia-list-container">
    <h3>GET /rodovias</h3>
    <ul>
      <li ng-repeat="rodovia in rodovias">
        <h4>Code: {{rodovia.code}}   Type: {{rodovia.type}}</h4>
      </li>
    </ul>
  </div>

  <div>
    <h3>GET /rankings<br /><small>Rankings</small></h3>

    <div class="row">

      <div class="small-3 large-3 columns">
        <select id="" name="" ng-model="ordem">
          <option value="rodovia">Rodovia</option>
          <option value="densidade">Densidade</option>
        </select>
      </div>

      <div class="small-9 large-9 columns">
        <div class="small-3 large-3 columns">
          Rodovia
        </div>
        <div class="small-9 large-9 columns">
          Densidade
        </div>
        
        <div ng-repeat="ranking in rankings | orderBy:ordem">
          <div class="small-3 large-3 columns">{{ranking.rodovia}}</div>
          <div class="small-9 large-9 columns">
            <div class="progress">
              <div class="meter" style="width:{{ranking.densidade / max_densidade * 100}}%"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>



<% if ENV['VCAP_SERVICES'].present? -%>
 <pre>
  VCAP_SERVICES:
  <%=raw ENV['VCAP_SERVICES'] %>
</pre>
<% end -%>
