<div ng-controller="RodoviasCtrl">
  <h1>Sigla: {{sigla}}</h1> 
  <div id="rodovia-list-container">
    <ul>
      <li ng-repeat="rodovia in rodovias">
        <h4>Code: {{rodovia.code}}   Type: {{rodovia.type}}</h4>
      </li>
    </ul>
  </div>
</div>
