<div ng-controller="RodoviasCtrl">
  <div id="rodovia-list-container">
    <h3>GET /rodovias</h3>
    <ul>
      <li ng-repeat="rodovia in rodovias">
        <h4>Code: {{rodovia.code}}   Type: {{rodovia.type}}</h4>
      </li>
    </ul>
  </div>

  <div>
    <h3>GET /rankings<br /><small>Rankings</small></h3>

    <div class="row">

      <div class="small-3 large-3 columns">
        <select id="" name="" ng-model="ordem">
          <option value="rodovia">Rodovia</option>
          <option value="-densidade">Densidade</option>
        </select>
      </div>

      <div class="small-9 large-9 columns">
        <table width="100%">
        	<thead>
        		<tr>
        			<th>Rodovia</th>
        			<th>Densidade</th>
        		</tr>
        	</thead>
            <tbody ng-repeat="ranking in rankings | orderBy:ordem">
              <tr>
                <td width="20%">BR-{{ranking.group}}</td>
                <td>
                  <div class="progress" style="width:90%; float:left; margin-right:10px">
                    <div class="meter" style="width:{{ranking.densidade / max_densidade * 100}}%"></div>
                  </div>
                  {{ranking.densidade}}
                </td>
              </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>



<% if ENV['VCAP_SERVICES'].present? -%>
 <pre>
  VCAP_SERVICES:
  <%=raw ENV['VCAP_SERVICES'] %>
</pre>
<% end -%>
