<div ng-controller="RodoviasCtrl">
  <div id="rodovia-list-container">
    <ul>
      <li ng-repeat="rodovia in rodovias">
        <h4>Code: {{rodovia.code}}   Type: {{rodovia.type}}</h4>
      </li>
    </ul>
  </div>

  <div>
    <div ng-repeat="ranking in rankings">
      Rodovia: {{ranking.rodovia}}
      Densidade: {{ranking.densidade}}
    </div>
  </div>
</div>

<% if ENV['VCAP_SERVICES'].present? -%>
 <pre>
  VCAP_SERVICES:
  <%=raw ENV['VCAP_SERVICES'] %>
</pre>
<% end -%>
