<!DOCTYPE html>
<html ng-app="Rodovias">
<head>
  <title>Rodovias</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header>Rodovias</header>
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
