<!DOCTYPE html>
<html ng-app="Rodovias">
<head>
  <title>Rodovias</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>Rodovias</header>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
